.frontPage {
  background-color: #f4ede8;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.rowContainer {
  display: flex;
  row-gap: 50px;
  column-gap: 100px;
  align-items: center;
  justify-content: center;
  margin: 0 16px;
  flex-wrap: wrap;
}

.portrait {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.aboutMe {
  justify-content: center;
  margin: 0 auto;
}
.projects {
  background-color: #f4ede87c;
  padding-top: 64px;
}
.contentWrapper {
  display: grid;
  max-width: 800px;
  min-height: 100vh;
  place-content: center;
  margin: 0 auto;
}

.work {
  min-height: 100vh;
  place-content: center;
  padding-top: 64px;
}
